a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: lightgrey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}

p {
  font-size: 1rem;
  line-height: 2;
}

#normal {
  font-weight: normal;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.bottom-container {
  background-color: #88e1f2;
  padding: 50px 0 20px;
  position: relative;
}

.bouldering {
  border-radius: 50%;
  float: right;
  height: 200px;
  margin-left: 30px;
  width: 25%;
}

.btn {
	box-shadow: 3px 4px 0px 0px #0c7b93;
	background: linear-gradient(to bottom, #00a8cc 5%, #81f5ff 100%);
	background-color: #88e1f2;
	border-radius: 18px;
	border: 1px solid #a0ffe6;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #142850;
}

.btn:active {
	position: relative;
	top: 1px;
}

.btn:hover {
	background: linear-gradient(to bottom, #27496d 5%, #142850 100%);
	background-color: #40e0d0;
}

.contact-me {
  padding-bottom: 50px;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  color: #11999E;
}

.front {
  text-decoration: underline;
}

.frontend {
  border-radius: 50%;
  float: left;
  height: 200px;
  margin-right: 30px;
  width: 25%;
}

.intro {
  width: 30%;
  margin: auto;
}

.middle-container {
  background-color: #E4F9F5;
  position: relative;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.stian {
  border-radius: 50%;
  height: px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}
